.SelectedImage {
    border: 1.5px solid;
    border-radius: 10px;
    padding: 8.75px;
    border-color: #2e7d32;
  }
  
.DeSelectedImage {
    padding: 8px;
  }
  
.select::before {
    border-color: #2e7d32;
    border-width: 100px;
    width: 200px;
    border-style: dotted;
  }
  
.select {
    color: #2e7d32;
    width: 200px;
    border-color: #2e7d32;
  }
  
.select::after {
    border-color: #2e7d32;
    border-width: 100px;
    width: 200px;
  }